<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= product_name %> - <%= lang('Public Pads') %></title>
    <% include partials/meta %>
</head>
<body>
<% include partials/header %>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <ul class="collection with-header">
                    <li class="collection-header"><h4><%= lang('Open Public Pad') %></h4></li>
                    <li>
                        <div class="collection-form">
                            <form id="formOpenPublicPad">
                                <div class="input-field">
                                    <input class="mdl-textfield__input" type="text" id="openPadName">
                                    <label class="collection-form-label" for="openPadName"><%= lang('Pad-Name') %></label>
                                </div>
                                <button type="submit" class="waves-effect waves-light btn collection-form-button"><%= lang('Open') %></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
</body>
</html>
